<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!--This line-->

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:name=".SocialApplication"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Splash"
        android:label="KotlinSocial"
        >

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
</manifest> 